<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.FreeBoardDao">

	<select id="selectOneBoard" parameterType="int" resultType="FreeBoard">
		select * from FreeBoard where FreeBoard_boardname =
		#{FreeBoard_boardname}
		and FreeBoard_boardno =#{FreeBoard_boardno}

	</select>

	<!-- 파라미터타입 string 맞나? -->
	<select id="selectBoardbyId" parameterType="String" resultType="List">

		select * from FreeBoard where FreeBoard_boardname =
		#{FreeBoard_boardname}
		and FreeBoard_userId = #{FreeBoard_userId}

	</select>

	<select id="selectBoardAll">
		select * from FreeBoard where 1 = 0 and FreeBoard_boardname =
		#{FreeBoard_boardname}
		<if test="FreeBoard_title != null">
			or FreeBoard_title like '%${title}%' </if>
		<if test="FreeBoard_cotent != null">
			or FreeBoard_content like '%${content}%' </if>
		<if test="FreeBoard_userId != null">
			or FreeBoard_userId like #{nickname }
		</if>
	</select>


	<select id="getCount" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from Freeboard
		where 1 = 0
		<if test="FreeBoard_title != null">
			or FreeBoard_title like '%${FreeBoard_title}%'
		</if>
		<if test="FreeBoard_content != null">
			or FreeBoard_content like '%${FreeBoard_content}%'
		</if>
		<if test="FreeBoard_name != null">
			or FreeBoard_name like '%${FreeBoard_name}%'
		</if>
		<if test="FreeBoard_type == 0">
			or 1=1
		</if>
		<if test="FreeBoard_startdate != null">
			and FreeBoard_writedate
			between #{startdate} and #{enddate}
		</if>
	</select>
	<sql id="FreeBoard_title">
		<choose>
			<when test="FreeBoard_title == null or FreeBoard_title != '' ">
				#{FreeBoard_title}
			</when>
			<otherwise>
				'제목없음'
			</otherwise>
		</choose>
	</sql>

	<sql id="FreeBoard_content">
		<choose>
			<when test="FreeBoard_content == null or FreeBoard_content != ''">
				#{FreeBoard_content}
			</when>
			<otherwise>
				'내용없음'
			</otherwise>
		</choose>
	</sql>



	<insert id="insertBoard" parameterType="java.util.HashMap"
		useGeneratedKeys="true" keyProperty="FreeBoard_boardno">
		insert into FreeBoard values (#{FreeBoard_boardname},
		#{FreeBoard_userid},
		<include refid="FreeBoard_title" />
		,
		#{FreeBoard_file},
		<include refid="FreeBoard_content" />
		,
		#{FreeBoard_readCount},
		#{FreeBoard_writeDate}, #{FreeBoard_contentPic}
		)
	</insert>

	<update id="updateBoard" parameterType="java.util.HashMap">
		update FreeBoard set
		<include refid="FreeBoard_title" />
		,
		FreeBoard_file=#{file},
		<include refid="FreeBoard_content" />
		,
		FreeBoard_readCount=#{FreeBoard_readCount}, #{FreeBoard_contentPic}
		where FreeBoard_boardname = #{FreeBoard_boardname}
		and FreeBoard_boardno =#{FreeBoard_boardno}

	</update>

	<delete id="deleteBoard" parameterType="int">

		delete FreeBoard where FreeBoard_boardname = #{FreeBoard_boardname}
		and FreeBoard_boardno =#{FreeBoard_boardno}

	</delete>





</mapper>